body {
    border-style: solid;
}
h1 {
    text-align: center;
}
li {
    text-align: center;
    padding: 0px 0px;
}
#list-creater {
    display: flex;
    justify-content: center;
}

#cool-block {
    width: 100px;
    height: 100px;
    background-color: orange;
    margin: 50px auto;
    text-align: center;
    font-size: 100px
}

.remove-button {
    color: red;
}

.edit-button {
    color: blue;
}